/* FullCalendar 요일 색상 */
@import "tailwindcss";

.fc .fc-day-sun .fc-daygrid-day-number {
    color: red;
}

.fc .fc-day-sat .fc-daygrid-day-number {
    color: blue;
}

.fc .fc-day-mon .fc-daygrid-day-number,
.fc .fc-day-tue .fc-daygrid-day-number,
.fc .fc-day-wed .fc-daygrid-day-number,
.fc .fc-day-thu .fc-daygrid-day-number,
.fc .fc-day-fri .fc-daygrid-day-number {
    color: black;
}
